<div class="wrap bg-2">
  <div class="container flex-wrap py-5 mt-5">
    <h1 class="d-flex justify-content-center mb-5 text-white fw-bold">My Bookings</h1>

    <div class="row">
      <div class="col-12 d-flex justify-content-center gap-3 flex-wrap">
        <% @my_bookings.each do |booking| %>
          <div class="card">
            <img src="<%= url_for(booking.yacht.photos[0]) %>" alt="" class="img-fluid img-object-fit-cover card-img-top">
            <div class="card-body py-2 px-3">
              <div class="card-title">
                <h1><%= booking.yacht.name %></h1>
              </div>
              <div class="card-divider">
                <div class="card-content">
                  <i class="fa-solid fa-location-dot"></i>
                  <p> <%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %> </p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <p><%= link_to 'Delete', yacht_booking_path(id: booking.id, yacht_id: booking.yacht.id), method: :delete, data: {:confirm => 'Are you sure?'}, class: "card-link text-danger text-decoration-none" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
