<div class="bg-2">
  <h1 class="d-flex justify-content-center">My Bookings</h1>
  <div class="container d-flex justify-content-center gap-3 flex-wrap py-5 ">
    <% @my_bookings.each do |booking| %>
      <div class="card">
        <img src="<%= url_for(booking.yacht.photos[0]) %>" alt="" class="img-fluid img-object-fit-cover card-img-top">
        <div class="card-body py-2 px-3">
          <div class="card-title">
            <h1><%= booking.yacht.name %></h1>
          </div>
          <div class="card-divider">
            <div class="card-content">
              <i class="fa-solid fa-location-dot"></i>
              <%# <p> $<%= booking.yacht.price %>
              <p> <%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %> </p>
              <p><%= link_to 'Delete', yacht_booking_path(id: booking.id, yacht_id: booking.yacht.id), method: :delete, data: {:confirm => 'Are you sure?'}, class: "card-btn btn btn-danger text-white" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
