<div class="wrap bg-2">
  <%#= image_tag "background.jpeg", class:"background-image bg-2" %>
  <div class="container my-5 d-flex justify-content-center gap-3 flex-wrap py-5 ">
    <% @yachts.each do |yacht| %>
      <%= link_to yacht_path(id: yacht.id), class:"text-decoration-none text-black" do %>
        <div class="card">
          <img src="<%= url_for(yacht.photos[0]) %>" alt="" class="img-fluid img-object-fit-cover card-img-top">
          <div class="card-body py-2 px-3">
            <div class="card-title">
              <h1><%= yacht.name %></h1>
            </div>
            <div class="card-divider">
              <div class="card-content w-100 d-flex justify-content-between">
                <div>
                  <p> $<%= yacht.price %> /day</p>
                  <p> <i class="fa fa-map-marked-alt" aria-hidden="true"></i> <%= yacht.location %> </p>
                </div>
                <div>
                  <p><%= '⭐️' * [3, 4, 5].sample  %></p>
                </div>
              </div>
            </div>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
data-controller="mapbox"
data-mapbox-markers-value="<%= @markers.to_json %>"
data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
