<div class="wrap bg-2">
  <div class="container flex-wrap py-5 mt-5">
    <h1 class="d-flex justify-content-center mb-5 text-white fw-bold">My Yacht Listings</h1>

    <div class="row">
      <div class="col-12 d-flex justify-content-center gap-3 flex-wrap">
        <% @my_yachts.each do |yacht| %>
          <div class="card">
            <img src="<%= url_for(yacht.photos[0]) %>" alt="" class="img-fluid img-object-fit-cover card-img-top">
            <div class="card-body py-2 px-3">
              <div class="card-title">
                <h1><%= yacht.name %></h1>
              </div>
              <div class="card-divider">
                <div class="card-content w-100 d-flex justify-content-between">
                  <div>
                    <p> $<%= yacht.price %> /day</p>
                    <p> <i class="fa fa-map-marked-alt" aria-hidden="true"></i> <%= yacht.location %> </p>
                  </div>
                  <div>
                    <p><%= '⭐️' * [3, 4, 5].sample  %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <p><%= link_to 'View', yacht_path(id: yacht.id), class: "card-link text-decoration-none" %></p>
              <p><%= link_to 'Edit', edit_yacht_path(yacht), class: "card-link text-decoration-none" %></p>
              <p><%= link_to 'Delete', yacht_path(yacht), method: :delete, data: {:confirm => 'Are you sure?'}, class: "card-link text-danger text-decoration-none" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
