<div class="container">
  <h1 class="h2 text-center">Add a new Yacht</h1>
  <div class="row justify-content-center">
    <div class="col col-lg-5">
      <%= simple_form_for @yacht do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
