<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @yacht.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12 col-lg-9">
          <img src="<%= url_for(@yacht.photos[0]) %>" alt="" class="img-fluid img-object-fit-cover">
          <%# # cl_image_tag(@yacht.photos[0].key, crop: :fill,  %>
          <%# class: "img-fluid img-object-fit-cover") %>
        </div>
        <div class="col-12 col-lg-3 gap-2 d-flex flex-column">
          <img src="<%= url_for(@yacht.photos[1]) %>" alt="" class="img-fluid">
          <img src="<%= url_for(@yacht.photos[2]) %>" alt="" class="img-fluid">
          <img src="<%= url_for(@yacht.photos[3]) %>" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 border border-3 p-4">
      <div class="row flex-column">
        <div class="col-12">
          <div class="row mb-4">
            <div class="col-12">
              <p class="h2 text-center">
                $<%= @yacht.price %>AUD
              </p>
            </div>
            <div class="col-12 text-center">
              ⭐️⭐️⭐️⭐️
            </div>
          </div>
        </div>
        <div class="col-12">
          <p>
            <%= @yacht.description %>
            </p>
        </div>
        <div class="col-12">
          <%= simple_form_for [@yacht, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.association :yacht, as: :hidden %>
            <%= f.button :submit, class: 'btn-submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
